<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "7-GO";
}

<header>
 <div class="head-div">
            <button type="submit" name="button" class="login-button">Logga in</button>
        </div>
</header>
=======
﻿
>>>>>>> 1e0f6d5cae6917083fb6d6afcd2285a1726d72f0
