@{
    ViewData["Title"] = "7-GO";
}

<header>
    <div class="head-div">
        <form action="/Login" method="get">
            <button type="submit" name="button" class="login-button">Logga in</button>
        </form>
    </div>
</header>
