@{
    ViewData["Title"] = "Home Page";
}

<header>html
    
    <div>
        <h1>7-GO</h1>
    </div>

    <div>
        <a href="">Kom igång</a>
        <a href="">Logga in</a>
        <a href="">Om 7-GO</a>
    </div>

</header>

<main>

</main>
<footer>

</footer>
