@{
    ViewData["Title"] = "Home Page";
}

<header>

    <div class="header-div">

        <h1>7-GO</h1>
        <a href="">Kom igång</a> <a href="">Logga in</a> <a href="">Om 7-GO</a>
        
    </div>
</header>

<main>

</main>
<footer>

</footer>
