@model MVC.Models.UserViewModel

@{
    ViewData["Title"] = "Logga in";
}

<body>
    <header>
        <div>
            <h1>7-GO</h1>
        </div>
        <div>
            <a href="/about">Om 7-GO</a>
        </div>
    </header>

    <main>
        <form action="/User/Login" method="post">
            <h2>Logga in</h2>

            <div>
                <label>Inlogg:</label>
                <input type="text" name="UserInlog" value="@Model.UserInlog" required>
            </div>

            <div>
                <button type="submit">Logga in</button>
            </div>
        </form>
    </main>

    <footer>
    </footer>
</body>
